:root {
    --green: #676E3D;
}

body {
    background-color: #292827;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    section.container {
        background-color: #fff;
        width: 780px;
        min-height: 600px;

        section.middle {
            display: flex;


            > * {
                border-top: 2px solid indianred;
            }

            section {
                &.left-side {
                    width: 30%;
                    background-color: #f2f1f1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-right: 1px solid var(--green);

                    nav {
                        margin-top: 20px;

                        a {
                            display: block;
                            color: black;
                            text-decoration: none;
                            border-bottom: 1px solid #505A2F;
                            text-transform: uppercase;
                            padding: 10px 0 10px 10px;
                            font-size: 10px;

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                }

                &.right-side {
                    width: 70%;
                    min-height: 600px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 5px 20px;

                    nav {
                        gap: 5px;
                        display: flex;
                        justify-content: flex-end;
                        font-size: 10px;

                        a {
                            color: black;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.bottom-nav {
                            text-transform: lowercase;

                        }

                        &.top-nav {
                            text-transform: uppercase;

                        }
                    }

                    main {
                        font-size: 1.1rem;
                        #ABT-US {
                            color: #292827;
                        }
                        border: 1px dotted black;


                        img {
                            &.pull-right {
                                float: right;
                                width: 150px;
                                margin: 0 0 15px;
                                corner-shape: round;
                            }
                        }
                    }
                }
            }
        }

        footer {
            background-color: var(--green);
            color: white;
            font-size: 11px;
            text-align: center;
            padding: 10px 0;
        }
    }
}